<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="StorageConnectionString"
         value="DefaultEndpointsProtocol=https;AccountName=wordbraindictionary;AccountKey=gjnSmc783iB6paP2Iv2wNoShwC7jsOIdPU79govSX7u3Q2Mm+fT2/EZMEWaTcF/XxJqfLbZ4K+3yFsF+Yem6pA==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>