@using WordBrainSolver.API.Controllers

<div class="row">
   @{
       ((FindWordsController)this.ViewContext.Controller).Get(3, 4, "abcdefghi");
}
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>