<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=wordbraindictionary;AccountKey=7ek5cWZ4PeO7lNh/nNLA5Im0dJziP9/+LhoQLJhcwiGvB+Lw/gG5OLnrZk/Tzu7vDh9hKXRM8T+m1uGkFAWV7Q==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>